
html, body {
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	overflow: hidden;
}


/*header{*/
/*	height: 20%;*/
/*}*/

.parent{
  position:relative;
  height: 100%;
}

/*.leftChild{*/
/*  position:absolute;*/
/*  left:0;*/
/*  top:0;*/
/*}*/

/*.rightChild{*/
/*  position:absolute;*/
/*  left:85%;*/
/*  top:0;*/
/*}*/

/*.middle{*/
/*  position:absolute;*/
/*  left:15%;*/
/*  */
/*  top:0;*/
/*}*/
#cesiumContainer{
	width: 100%;
	height: 100%; 
	margin: 0; 
	padding: 0; 
	overflow: hidden;
}

